<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<section th:fragment="about" class="about-section ">

    <div class="decor-layer" id="about-decor"></div>
    <!-- susipazinkime juosta -->
    <div class="about-title-strip">
        <h2>Susipažinkime!</h2>
    </div>
    <div class="about-wrapper">
        <div class="about-composition">
        <div class="about-image">
            <img th:if="${images['home.about.image']?.about !=null}"
            th:src="${images['home.about.image'].about.fileName}"
            alt="">
        </div>
        <div class="about-text">
            <img src="/images/decor/ApieMusText.svg" class="blob">
            <div class="text-content">
            <p th:text="${aboutText}">Esame nedidele, bet labai stipri animatoriu komanda</p>
            </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>