<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="navigation" class="nav-strip ">
    <div class="circle-container">
        <a th:href="@{#programos}" class="circle pink">Programa</a>
        <a th:href="@{#personage}" class="circle pink">Personazai</a>
        <a th:href="@{#atsiliepimai}" class="circle pink">Atsiliepimai</a>
        <a th:href="@{/order}" class="circle pink">Prisijunk!</a>
        <a th:href="@{#kontaktai}" class="circle pink">Susisiekime</a>
    </div>


</div>
</body>
</html>