<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org" >

<body>
<section th:fragment="personage" class="personage__section" id="personage">
    <div class="personage__bg"></div>
    <div class="personage__strip">
        <h2>PERSONAŽAI</h2>
    </div>
    <div class="personage__content__container">

        <div class="personage__text__container">
            <div class="personage__text__content--upper">
                <p class="upper" th:text="${personageUpper}">Virsutinis tekstas Admin</p>
            </div>
           <div class="personage__text__content--lower">
                <p class="lower" th:text="${personageLower}">Apatinis tekstas Admin</p>
            </div>
         </div>
        <div class="carousel__background">
        <div class="embla">
            <div class="embla__container"
                 th:if="${images['home.personage.image'] != null}">
                <div class="embla__item"
                     th:each="img : ${images['home.personage.image'].values()}">
                    <div class="carousel">
                        <img th:src="${img.fileName != null} ? @{${img.fileName}} : '/images/logo.png'"
                             th:alt="${img.contentKey}">
                        <h3 th:utext="${img.imageTitle}"></h3>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="personage__gallery__container">

            <div class="personage__item__row"  th:if="${images['home.personage.image']!= null}">
            <div class="personage__item"
              th:each="img:${images['home.personage.image'].values()}">
                <img th:src="${img.fileName != null} ? @{${img.fileName}} : '/images/logo.png'"
                th:alt="${img.contentKey}">
                <h3 th:utext="${img.imageTitle}"></h3>
            </div>
            </div>

            </div>
        </div>

    </div>
</section>

</body>
</html>