<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuotrauku keitimas</title>

</head>
<body>
<h2>Navigacijos fonas</h2>
<form method="post" enctype="multipart/form-data" th:actions="@{/admin/home/updateImage}">
    <input type="hidden" name="section" value="header">
    <input type="hidden" name="position" value="0">
    <input type="file" name="file">
    <button type="submit">Ikelti</button>
</form>
<h2>Main nuotraukos</h2>
<form method="post" enctype="multipart/form-data" th:actions="@{/admin/home/updateImage}">
<input type="hidden" name="section" value="about">
    <input type="hidden" name="position" min="0" max="5">
    <input type="file" name="file">
    <button type="submit">Ikelti</button>
</form>

</body>
</html>