.personage__section{
position:relative;
overflow:hidden;
margin-top: -20px;
}
.personage__bg{
background: url("/images/decor/ProgramBackground.svg") top center repeat;
position:absolute;
inset:0;
z-index:0;
background-size: 100%, auto;
height:auto;
background-position-y: -100%;
}
.personage__strip{
background: url("/images/decor/ProgramosLauzytaJuosta.svg") center/100% no-repeat;
width:100%;
position:relative;
text-align: center;
color: white;
height: 100%;
margin-top: -3px;
margin-bottom: 30px;
}
.personage__strip h2{
position: relative;
transform: translateY(25%);
}
.personage__content__container{
max-width:1400px;
display: flex;
flex-direction:column;
align-items:center;
inset: 0;
z-index:1;
position:relative;
}
.personage__text__container{
display:flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
margin-bottom: 50px;
}
.personage__text__content--upper{
text-align:center;
background: url("/images/decor/PinkProgFlag.svg") center/150% no-repeat;
width: 156%;
transform: translateX(-20%);
}
.personage__text__content--upper p{
max-width: 500px;
text-align: center;
position: relative;
transform: translateX(28%);
}
.personage__text__content--lower{
text-align:center;
background: url("/images/decor/OrangeProgFlag.svg") center/150% no-repeat;
width:156%;
transform: translateX(20%);
}
.personage__text__content--lower p{
max-width: 500px;
text-align: center;
position: relative;
transform: translateX(22%);
}
.personage__gallery__container{
display: flex;
justify-content: center;
flex-direction: column;
align-items:center;
}
.personage__item__row{
display:flex;
flex-direction:row;
gap: 2%;
}
.personage__item{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.personage__item img{
width: clamp(100px, 18vw, 200px);
aspect-ratio: 1/1;
border-radius: 50%;
object-fit: cover;
border: 8px solid #ffd54f;
margin-bottom: -30px;

}
.personage__item h3{
background-color: orange;
width: clamp(100px, 11vw, 180px);
border-radius: 20%;
text-align: center;
}