.program-section{
position: relative;
overflow: hidden;
height: auto;
}
.program__bg{
position: absolute;
inset: 0;
z-index: 0;
height:2000px;
background: url("/images/decor/ProgramBackground.svg") top center repeat;
background-size: 100%, auto;
}
.program-section-container{
/*transform: translateY(5%);*/
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
inset:0;
z-index:1;
position:relative;
height:auto;
}
.program__strip{
background: url("/images/decor/ProgramosLauzytaJuosta.svg") center/100% repeat-x;
}
.program__strip__text{
display:flex;
justify-content:center;
align-items: center;
color:white;
z-index:4;
position:relative;
font-size: 1rem;
}
.program__about__text{
display:flex;
justify-content:center;
align-items:center;
color:purple;
height:auto;
position: relative;
z-index: 3;
max-width: 1000px;
text-align: center;
}
.program__strip__container{
height:auto;
z-index: 2;
position: relative;
width: 100%;
}

.program__item{
display:flex;
align-items:center;
justify-content: center;
/*gap: clamp(30px, 5vw, 80px);
margin: clamp(60px, 8vw, 120px) 0;*/
position:relative;
flex-direction: row;
max-width:160vw;
margin-bottom: -5vw;
}
.program__item:hover{
transform: scale(1.05);
z-index:5;
}
.program__container{
position: relative;
/*transform: translateY(6%);*/
}
.program__item--right .program__image{
order:2;
transform:translateX(60%);
}
.program__item--right .program__content{
order:1;
transform:translateX(20%);
}
.program__item--left .program__image{
order:1;
transform:translateX(-63%);
}
.program__item--left .program__content{
order:2;
transform:translateX(-20%);
}
.program__item--left {
transition: transform 0.3s ease;
}
.program__item--right {
transition: transform 0.3s ease;
}
.program__image img{
width: clamp(10vw, 13vw, 20vw);
aspect-ratio: 1/1;
border-radius: 50%;
object-fit: cover;
border: 8px solid #ffd54f;
}
.program__image-rightt{
transform:translateX(63%);

}
.program__image-leftt{
transform:translateX(-61%);
}
.program__image{
position:relative;
z-index:3;
}
.program__content{
max-width: 600px;
/*padding: clamp(30px, 5vw, 60px);*/
border-radius: 40px;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.program__content h3{
font-size: 0.9rem;
}
.program__content p{
text-align: center;
max-width: 400px;
transform: translateY(-35%);
margin: 0;
}
.program__content--purple{
background: url("/images/decor/VioletProgFlag.svg") center/190% no-repeat;
}
.program__content--red{
background: url("/images/decor/RedProgFlag.svg") center/200% no-repeat;
}
.program__content--orange{
background: url("/images/decor/OrangeProgFlag.svg") center/192% no-repeat;
z-index: 1;
transform: translateY(-0.5vw);
}
.program__content--blue{
background: url("/images/decor/BlueProgFlag.svg") center/200% no-repeat;
transform: translateY(4%);
}
.program__content--pink{
background: url("/images/decor/PinkProgFlag.svg") center/200% no-repeat;
}
.last__purple{
transform: translateY(1vw);
}
.last__purple:hover {
  transform: translateY(1vw) scale(1.05);
}
.red__bottom{
transform:translateX(-4vw);
}
.red__bottom:hover {
  transform: translateX(-4vw) scale(1.05);
}

.program__additional__container{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
position: relative;
margin-top: 60px;
margin-bottom: 3vw;
}
.program__additional__paslaugos h3{
color:orange;
}
.additional__paslaugu__container{
display:flex;
align-items:center;
justify-content: center;
flex-direction:row;
gap: 3%;
background: url("/images/decor/AdditionalServices.svg") center/89% no-repeat;
width: 97vw;
}
.additional__item{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
color: white;
}
.additional__item img{
width: clamp(10vw, 15vw, 20vw);
aspect-ratio: 1/1;
border-radius: 20%;
object-fit: cover;
border: 8px solid white;
}
.additional__item h4{
margin:0;
}

@media (max-width:1250px){
.program__item {
margin-bottom: -3rem;
}
.program__image img {
width: clamp(8rem, 9rem, 21rem);
}
.program__about__text {
    max-width: 100vw;
    margin: 0;
    }
    .program__item--left .program__image {
    transform: translateX(-20%);
    }
    .program__item--left .program__content {
    transform: translateX(-11%);
    }
    .program__item--right .program__image {
    transform: translateX(30%);
    }
    .program__item--right .program__content {
    transform: translateX(15%);
    }
    .program__content p {
    width: 62vw;
    }
    .additional__paslaugu__container {
  background-size: 105%;
    }
}

@media (max-width: 768px) {
.program__about__text {
    width: 68vw;
    margin-bottom: -5vw;
    }
    .program__item{
    max-width: 90vw;
    height: 33vw;
    margin-bottom: -15vw;
    }
   .program__item--left .program__image {
   transform: translateX(-10%);
   }
  .program__item--left .program__content {
  transform: translate(-7%,5%);
font-size: 0.5rem;
  }
    .program__item--right .program__image {
    transform: translateX(10%);
    }
   .program__item--right .program__content {
   transform: translate(8%,3%);
   }
    .program__content{
    width: 50vw;
    }
    .program__content p {
    width: 46vw;
       font-size: 0.6rem;

    }
    .additional__paslaugu__container {
    width: 105vw;
    background: url("/images/decor/AdditionalServices.svg") no-repeat;
    background-size: 100%;
    background-position: 0rem -1rem;
    gap: 1.2rem;
    }
    .additional__item {

    }
    .additional__item img {
    width: clamp(1rem, 4rem, 6rem);
    border: 1vw solid white;
    }
    .additional__item h4{
    height: 4vw;
    font-size: 0.7rem;
    margin: 0vw;
    }
}

